        <li class="shopping-cart"><a href="{{ url('cart') }}" class="cart"><span><small>{{ Cart.total_quantity }}</small><i class="icon-shopping-cart"></i></span></a></li>
    </ul>
</div>
</div>

</div>
</nav>